*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width:50%;
    margin:auto;
    
}


.card-image img{
    padding-top: 40px;
    padding-left: 100px;
    
}
.para{
    display:none;
    padding-top: 40px;
}

a{
    text-decoration: none;
    font-size:20px;
    background-color: aqua;
    /*padding-top: 10px;*/
    border-radius: 20%;
    border:2px solid gray;
}
.button{
    text-align: center;
    padding-top: 25px;
    padding-right: 280px;
   
}
p{
    color:green;
    border:2px solid red;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}


i{
    color:black;
    padding-left: 320px;
    font-size: 15px;
}




